<h1>Say#Hello</h1>
<p>Find me in app/views/say/Hello.html.erb</p>


<%= 2+2 %>

<% 3.times do %>
HO!

    <h2><%= @yo %></h2>
    <p><%= @now %></p>

<% end %>
<br />
<div class="perk"></div>
<%= link_to "Teach PERK", perk_teach_path %>